{% load staticfiles %}
<html>
<head>
    <title>DramaFever Forum</title>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="page-header">
    <h1><a href="{% url 'forum:index' %}">DramaFever Forum</a></h1>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
