{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3>Threads</h3>
    {% if thread_list %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">Subject</div>
                <div class="col-md-2">Created</div>
                <div class="col-md-2">Last Posted</div>
            </div>
            {% for thread in thread_list %}
                <div class="row">
                    <div class="col-md-8"><a
                            href="{% url 'forum:view thread' thread.id %}">{{ thread.subject }}</a>
                    </div>
                    <div class="col-md-2">{{ thread.created_date }}</div>
                    <div class="col-md-2">{{ thread.updated_date }}</div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No threads are available.</p>
    {% endif %}

    <h3>Create a new thread</h3>

    <form autocomplete="off" method="POST" class="post-form">{% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
