{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <a href="{% url 'forum:index' %}">Return to index</a>
    <h2>{{ thread.subject }}</h2>
    <h3>{{ thread.message }}</h3>
    <hr />
    {% for comment in thread.comment_set.all %}
        <h4>{{ comment.message }}</h4>
        <hr />
    {% endfor %}

    <h3>Make a Reply</h3>
    <form autocomplete="off" method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}

